## Question 1

In [2]:
#import the hotel_booking_data data

import pandas as pd

hb = pd.read_csv('hotel_booking_data.csv')

hb

C:\Users\USER\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

## Question 2

In [12]:
#check for the top 5 rows
hb.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

## Question 3

In [13]:
# How many rows is in the data

hb.index

RangeIndex(start=0, stop=119390, step=1)

## Question 4

In [14]:
hb.shape

(119390, 36)

In [29]:
#correction. Do it this way

print(f"The number of rows in this data is {hb.shape[0]}")

The number of rows in this data is 119390

In [15]:
#Is there any missing data?

hb.isna()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
hb.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

## Question 5

In [36]:
# drop the company column from the data

hb.drop('company', axis = 1, inplace = True)
hb

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

## Question 6

In [9]:
#what are the top 5 most common country code?

In [28]:
hb['country'].value_counts().nlargest(5) #.valu_counts() will be to count the column.
#.nlargest is to get the 5 largest automatically, so the figure put will restrict it.

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

## Question 7

In [41]:
hb[['name', 'adr']].describe().iloc[7] #to get the largest adr

In [51]:
name_ad = hb['adr'].idxmax()

name_ad

48515

In [45]:
name_ad = hb.loc[adr_ad, 'name']

name_ad

'Daniel Walter'

In [47]:
#ANOTHER 

hb[['name', 'adr']].sort_values('adr', ascending = False)[:1]

                name     adr
48515  Daniel Walter  5400.0

## Question 8

In [55]:
#The adr is the average daily rate for a person's stay at the hotel. 
#What is the mean adr across all the hotel stays in the dataset

d = hb['adr'].describe( )
d

count    119390.000000
mean        101.831122
std          50.535790
min          -6.380000
25%          69.290000
50%          94.575000
75%         126.000000
max        5400.000000
Name: adr, dtype: float64

In [40]:
d[1].round(3)

101.831

In [53]:
#Another method

round(hb['adr'].mean(),2)

101.83

## Question 9

In [55]:
# What is the average (mean) number of nights for a stay across the entire data set? 
# free to round this to 2 decimal points.

average_night_weekend = hb['stays_in_weekend_nights'].describe().round(2)[1]

average_night_weekend

0.93

In [57]:
average_night_week = hb['stays_in_week_nights'].describe().round(2)[1]

average_night_week

2.5

In [58]:
average_night = (average_night_weekend + average_night_week).round(2)

average_night

3.43

In [57]:
#Another method

#first get the columns by hb.columns so you can see all
hb['total_stay'] = hb['stays_in_weekend_nights'] + hb['stays_in_week_nights'] 
#create a new column(total stay) by adding the weekend and week nights.

round(hb['total_stay'].mean(),2) #to get the mean to a specific decimal place

3.43

In [59]:
hb.columns #to see all the columns in the dataframe and work with it.

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card', 'total_stay'],
      dtype='object')

## Question 10

In [63]:
#What is the average total cost for a stay in the dataset? 
#Not average daily cost, but total stay cost. Feel free to round this to 2 deci

hb['total_spent'] = hb['total_stay'] * hb['adr']
#this is to create a new column for total spent.
#adr is same as average data cost.
#total stay included weekend night and week day.

round(hb['total_spent'].mean(),2) #to calculate the average to 2 decimal places.

357.85

In [64]:
#if you were to calculate average daily cost not total

round(hb['adr'].mean(),2)

101.83

## Question 11

In [65]:
#What are the names and emails of people who made 5 "Special Requests"?
special_req = hb[hb['total_of_special_requests'] == 5][['name', 'email', 'total_of_special_requests']] #to get those who made 5 special requests.

special_req

,name,email,total_of_special_requests
7860,Amanda Harper,Amanda.H66@yahoo.com,5
11125,Laura Sanders,Sanders_Laura@hotmail.com,5
14596,Tommy Ortiz,Tommy_O@hotmail.com,5
14921,Gilbert Miller,Miller.Gilbert@aol.com,5
14922,Timothy Torres,TTorres@protonmail.com,5
24630,Jennifer Weaver,Jennifer_W@aol.com,5
27288,Crystal Horton,Crystal.H@mail.com,5
27477,Brittney Burke,Burke_Brittney16@att.com,5
29906,Cynthia Cabrera,Cabrera.Cynthia@xfinity.com,5
29949,Sarah Floyd,Sarah_F@gmail.com,5
32267,Michelle Villa,Michelle.Villa@aol.com,5
39027,Nichole Hebert,Hebert.Nichole@gmail.com,5
39129,Lindsey Mckenzie,Lindsey.Mckenzie@att.com,5
39525,Ashley Edwards,Edwards.Ashley@yahoo.com,5
70114,Christopher Torres,Torres.Christopher@gmail.com,5
78819,Mrs. Tara Sullivan DVM,Mrs..DVM@xfinity.com,5
78820,Michaela Brown,MichaelaBrown@att.com,5
78822,Kurt Maldonado MD,KMD15@xfinity.com,5
97072,Jason Richardson,Jason.R@zoho.com,5
97099,Terri Hurley,THurley@xfinity.com,5
97261,Mrs. Caitlin Webb,Mrs._W@comcast.net,5
98410,Holly Arroyo,Arroyo_Holly@mail.com,5
98674,Denise Campbell,Denise_C@gmail.com,5
99887,Michael Smith,Michael.S42@aol.com,5
99888,Dr. Trevor Sellers,Dr._S@aol.com,5
101569,Kayla Murphy,Kayla.Murphy@yahoo.com,5
102061,Taylor Martinez,Taylor.Martinez@hotmail.com,5
109511,Charles Wilson,Charles_Wilson@yahoo.com,5
109590,Tyler Allison,Tyler.A@protonmail.com,5
110082,Matthew Bailey,Matthew_Bailey@aol.com,5
110083,Charlotte Acevedo,Charlotte_A@verizon.com,5
111909,Darrell Brennan,Brennan_Darrell51@hotmail.com,5
111911,Melinda Jensen,MelindaJensen@zoho.com,5
113915,Terry Arnold,Arnold.Terry@zoho.com,5
114770,Mary Nguyen,Nguyen.Mary@protonmail.com,5
114909,Lindsay Cuevas,Lindsay.Cuevas40@mail.com,5
116455,Cynthia Hernandez,CynthiaHernandez@xfinity.com,5
116457,Angela Hawkins,Angela_H@gmail.com,5
118817,Sue Lawson,Sue.L52@comcast.net,5
119161,Alyssa Richards,Alyssa_Richards@aol.com,5

In [61]:
#no  need for this cell if you had merged code together.
nam_email = special_req[['name', 'email']] #to get the columns of email and name

nam_email

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

## Question 12

In [67]:
# What percentage of hotel stays were classified as "repeat guests"? 
#(Do not base this off the name of the person, but instead of the is_repeated_guest column)

total_repeat = hb['is_repeated_guest'].sum() #this is to get th etotal repeat guests

total_repeat

3810

In [74]:
#hb['repeat_guest_percentage'] = (hb['is_repeated_guest']/total_repeat * 100)
#this is to get the percentage of repeat guests.

hb['is_repeated_guest'].sum()/len('is_repeated_guest') * 100
#Correction since we are to look for percentage.

22411.764705882353

In [74]:
hb.columns #to confirm and check if the column has been added.

Index([                         'hotel',                    'is_canceled',
                            'lead_time',              'arrival_date_year',
                   'arrival_date_month',       'arrival_date_week_number',
            'arrival_date_day_of_month',        'stays_in_weekend_nights',
                 'stays_in_week_nights',                         'adults',
                             'children',                         'babies',
                                 'meal',                        'country',
                       'market_segment',           'distribution_channel',
                    'is_repeated_guest',         'previous_cancellations',
       'previous_bookings_not_canceled',             'reserved_room_type',
                   'assigned_room_type',                'booking_changes',
                         'deposit_type',                          'agent',
                 'days_in_waiting_list',                  'customer_type',
                                  'adr',    'required_car_parking_spaces',
            'total_of_special_requests',             'reservation_status',
              'reservation_status_date',                           'name',
                                'email',                   'phone-number',
                          'credit_card',                              0.0,
                   0.026246719160104987,        'repeat_guest_percentage'],
      dtype='object')

## Question 13

In [87]:
#What are the top 5 most common last name in the dataset? 
#Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, 
#for example Caroline Conley MD can be said to have the last name MD)

most_name = hb['name'].str.split().str[-1].value_counts().nlargest(5) #.str is used to keep converting to strings. 
#split() is to seperate the two words by comma once a space is sin. 
#-1 reads background and slides sinces name as been divided into two different words as a result of its space. 
#value_counts are used to count the number of values

most_name

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

In [70]:
#Another method is to create a function that can be used for everything

def last_name(x):
    return x.split()[-1]

In [72]:
#then apply the last_name

hb['name'].apply(last_name).value_counts()[:5]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

## Question 14

In [76]:
#What are the names of the people who had booked the most number children and babies for their stay? 
#(Don't worry if they canceled, only consider number of people reported at the time of their reservation)

hb['child_babies'] = hb['children']+ hb['babies'] #to get the number of children and babies

#the df must always be in front to create a new column to bring info

In [108]:
max_child = child_babies.max() #to get the highest number

## Question 15

In [82]:
#What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)?

#hb['phone-number'].value_counts().head(3)#area code also called 'lead_time
#the above is not correct becayse you need to have gooten area code first.

669-792-1661    1
951-326-6252    1
446-228-8858    1
Name: phone-number, dtype: int64

In [78]:
#Another method by creating a function

def area_code(x):
    return x[:3]

In [81]:
hb['phone-number'].apply(area_code).value_counts()[:3] #question says 1st 3 digits of the phone number

799    168
185    167
541    166
Name: phone-number, dtype: int64